.side-effect {
  width: 300px;
  transform: translate(0%, 0%);
}
.side-effect ul {
  list-style: none;
  overflow: hidden;
}

.side-effect ul li {
  text-transform: capitalize;
  margin: 20px 0px;
  z-index: 9;
  overflow: hidden;
  cursor: pointer;
}
